{{#each lives}}
            <li class="live" data-id="{{id}}"  log-business_id="{{id}}" log-name="{{killEm name}}"  log-business_type="live" data-url="{{url}}">
                <span>
                    <img src="{{logo}}" alt="">
                </span>
                <section>
                    <h2 class="elli">{{{name}}}</h2>
                    <p>
                        {{followNum}}人关注
                    </p>
                </section>
            </li>
        {{/each}}