{{#if hasContent}}

{{#if topics.length}}
<section class="topic-section list-section">
    <h1>
        话题
        {{#compare topicEnd '!==' true}}
        <span data-type="topic" class="more on-log" log-type="search-more" log-name="topic">更多</span>
        {{/compare}}
    </h1>
    <ul class="topics">
        {{#each topics}}
        <li class="topic on-log" data-id="{{id}}" log-business_id="{{id}}" log-name="{{killEm topic}}"  log-business_type="topic">
            <span>
                    <img src="{{backgroundUrl}}" alt="">
                </span>
            <section>
                <h2 class="multi-elli">{{{topic}}}</h2>
                <p>
                    <span>{{dateFormat startTime 'MM-dd hh:mm'}}</span>
                    <span>{{browseNum}}次学习</span>
                </p>
            </section>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

{{#if channels.length}}
<section class="channel-section list-section">
    <h1>
        系列课 {{#compare channelEnd '!==' true}}
        <span data-type="channel" class="more on-log" log-type="search-more" log-name="channel">更多</span> {{/compare}}
    </h1>
    <ul class="channels">
        {{#each channels}}
        <li class="channel on-log" data-id="{{id}}" log-business_id="{{id}}" log-name="{{killEm name}}" log-business_type="channel">
            <span>
                <img src="{{headImage}}" alt="">
            </span>
            <section>
                <h2 class="elli">{{{name}}}</h2>
                <p>
                    {{subscribeNum}}次学习
                </p>
            </section>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

{{#if lives.length}}
<section class="live-section list-section">
    <h1>
        直播间
        {{#compare liveEnd '!==' true}}
        <span data-type="live" class="more on-log" log-type="search-more" log-name="live">更多</span>
        {{/compare}}
    </h1>
    <ul class="lives">
        {{#each lives}}
            <li class="live on-log" data-id="{{id}}" log-business_id="{{id}}" log-name="{{killEm name}}"  log-business_type="live">
                <span>
                    <img src="{{logo}}" alt="">
                </span>
                <section>
                    <h2 class="elli">{{{name}}}</h2>
                    {{#if isAuthor}}
                    <p><span class='tag-authority'></span></p>
                    {{else}}
                    <p>
                        {{followNum}}人关注
                    </p>
                    {{/if}}
                </section>
            </li>
        {{/each}}
    </ul>
</section>
{{/if}}


{{else}}
<div class="no-content">
    <div></div>
    <p>很抱歉，暂无相关搜索内容</p>
</div>
{{/if}}