 {{#each channels}}
        <li class="channel" data-id="{{id}}" data-lsharekey="{{lshareKey}}" log-business_id="{{id}}" log-name="{{killEm name}}"  log-business_type="channel" data-url="{{url}}">
            <span>
                <img src="{{headImage}}" alt="">
            </span>
            <section>
                <h2 class="elli">{{{name}}}</h2>
                <p>
                    {{subscribeNum}}次学习
                </p>
            </section>
        </li>
        {{/each}}
